
@model List<PROJETO01.Modelos.Organizador>

<h3>
    CADASTRO DE ESTADOS
    <a class="btn btn-sm btn-primary float-right" href="/Organizador/Adicionar">
        + ADICIONAR
    </a>
</h3>

<table class="table table-hover ">
    <thead>
        <tr>
            <th>OrganizadorID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrganizadorID</td>
                <td>@item.Nome</td>
                <td>@item.CPF</td>
                <td>@item.Telefone</td>
                <td>
                    <a href="/Organizador/Editar?uf=@item.OrganizadorID" class="btn btn-sm btn-warning">
                        Editar
                    </a>
                    <a href="/Organizador/Excluir?uf=@item.OrganizadorID" class="btn btn-sm btn-danger">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
